<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <app-header-menu></app-header-menu>
  </button>
  <span id="appName">Welcome to Micah's Place</span>
  <span class="specey"></span>
  <span class="example-spacer"></span>
  <div class="clickyCons">

    <span class="linky">
      <a href="" target="_blank">
        <span data-toggle="tooltip" data-placement="right" title="Follow on Twitter">
          <i class="fab fa-twitter-square fa-1x"></i>
        </span>
      </a>
    </span>
    <span class="linky">
      <a href="" target="_blank">
        <span data-toggle="tooltip" data-placement="right" title="Follow on Instagram">
          <i class="fab fa-instagram-square fa-1x"></i>
        </span>
      </a>
    </span>
    <span class="linky">
      <a href="https://www.linkedin.com/in/micah-connelly-560773165/" target="_blank">
        <span data-toggle="tooltip" data-placement="right" title="Follow on Linked">
          <i class="fab fa-linkedin fa-1x">
          </i>
        </span>
      </a>
    </span>
    <span class="linky">
      <a href="" target="_blank">
        <span data-toggle="tooltip" data-placement="right" title="Follow on Facebook">
          <i class="fab fa-facebook-square fa-1x"></i>
        </span>
      </a>
    </span>
    <span class="linky">
      <a href="https://github.com/mjconns" target="_blank">
        <span data-toggle="tooltip" data-placement="right" title="Follow on Github">
          <i class="fab fa-github-square fa-1x">
          </i>
        </span>
      </a>
    </span>

  </div>
</mat-toolbar>
