<h2 id="headerh2">EXAMPLES</h2>

<mat-tab-group headerPosition="above" mat-align-tabs="center" backgroundColor="primary">

  <mat-tab label="My Site">
    <mat-card class="card" color="primary">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>My Site</mat-card-title>
        <mat-card-subtitle>www.micahconnelly.com</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/mySite.png" alt="my site">
      <mat-card-content>
        <p>
          This is an image of the home page for my site (the one you're visiting now) and link to its repo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>REPO</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Sunny Vista Services">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Business Site</mat-card-title>
        <mat-card-subtitle>www.SunnyVistaServices.com</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/image2.jpg" alt="my site">
      <mat-card-content>
        <p>
          Business website and repo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>REPO</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Omaha Barbell">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Omaha Barbell</mat-card-title>
        <mat-card-subtitle>www.omahabarbell.com</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/mySite.png" alt="my site">
      <mat-card-content>
        <p>
          Website solution offered for a local business and its repo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>REPO</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Photography">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Personal photography</mat-card-title>
          <mat-card-subtitle>www.MicahPhotog.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image2.jpg" alt="my site">
        <mat-card-content>
          <p>
            All of my photography and its repo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
        </mat-card-actions>
      </mat-card>
  </mat-tab>

  <mat-tab label="Google Location">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Google Location</mat-card-title>
          <mat-card-subtitle>exampleApp site</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/mySite.png" alt="my site">
        <mat-card-content>
          <p>
            Example using google services
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TBD</button>
        </mat-card-actions>
      </mat-card>
  </mat-tab>

  <mat-tab label="JS Quiz">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>JS Quiz</mat-card-title>
          <mat-card-subtitle>git URL</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image1.jpg" alt="my site">
        <mat-card-content>
          <p>
            Student project
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
        </mat-card-actions>
      </mat-card>
  </mat-tab>

</mat-tab-group>

