h2 {
  margin-left: 45%;
}

#headerh2:before {
  content: " ";
  top: 50%;
  height: 2px;
  width: 45px;
  margin: 6px 10px;
  display: inline-block;
  zoom: 1;
  background: #333;
}

#headerh2:after {
  content: " ";
  top: 50%;
  height: 2px;
  width: 45px;
  margin: 6px 10px;
  display: inline-block;
  zoom: 1;
  background: #333;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.card {
  margin-left:30%;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
