<div id="examples">
  <mat-tab-group headerPosition="above" mat-align-tabs="center" backgroundColor="primary">

    <mat-tab label="Webistes and examples">
      <h2 id="headerh2">EXAMPLES</h2>
      <mat-card class="card" backgroundColor="accent">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Code examples</mat-card-title>
          <mat-card-subtitle>Business and personal</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>I've worked on prjects involgin automation, process flow, web apps, and various API intergrations.</p>
          <p>Please click through the tabs above see some varying examples of code work that I've.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- ADD something with AMCHARTS -->

    <mat-tab label="My Site">
      <!-- <h2 id="headerh2">EXAMPLES</h2> -->
      <mat-card class="card" backgroundColor="accent">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>My Site</mat-card-title>
          <mat-card-subtitle>www.micahconnelly.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/mySite.png" alt="my site">
        <mat-card-content>
          <p>
            This is an image of the home page for my site (the one you're visiting now) and link to its repo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>Launch site</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Sunny Vista Services">
      <!-- <h2 id="headerh2">EXAMPLES</h2> -->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Business Site</mat-card-title>
          <mat-card-subtitle>www.SunnyVistaServices.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/group.jpg" alt="biz site">
        <mat-card-content>
          <p>
            Business website and repo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>Launch site</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Omaha Barbell">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Omaha Barbell</mat-card-title>
          <mat-card-subtitle>www.omahabarbell.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/perSite.jpg" alt="my site">
        <mat-card-content>
          <p>
            Website solution offered for a local business and its repo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>Launch site</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Photography">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Personal photography</mat-card-title>
          <mat-card-subtitle>www.MicahPhotog.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image2.jpg" alt="my site">
        <mat-card-content>
          <p>
            All of my photography and its repo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>Launch site</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Google Location">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Google API</mat-card-title>
          <mat-card-subtitle>exampleApp site</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/mySite.png" alt="my site">
        <mat-card-content>
          <p>
            Example using google services
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>View example</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Twitter API">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Twitter Feed API</mat-card-title>
          <mat-card-subtitle>exampleApp site</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image1.jpg" alt="my site">
        <mat-card-content>
          <p>
            Example using twitter API
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>View example</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>


    <mat-tab label="JS Quiz">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>JavaScript Quiz</mat-card-title>
          <mat-card-subtitle>git URL</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image3.jpg" alt="my site">
        <mat-card-content>
          <p>
            Student project
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REPO</button>
          <button mat-button>Launch site</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

  </mat-tab-group>

</div>
