<div class="title">
  <mat-card-title>
    Clearly and easily presenting any data set with <a href="https://www.amcharts.com/docs/v4/"
      target="_blank">amCharts</a>
  </mat-card-title>
</div>

<div class="chartTitle"><strong>Popular social media sites over time example</strong></div>
<div id="chartdiv"></div>

<div class="chartTitle"><strong>Income & expenses budget example</strong></div>
<div id="chartdiv3"></div>

<div class="chartTitle"><strong>Tall buildings comparison example</strong></div>
<div id="chartdiv2"></div>
