#headerh2:before {
  content: " ";
  top: 50%;
  height: 2px;
  width: 45px;
  margin: 6px 10px;
  display: inline-block;
  zoom: 1;
  background: #333;
}

#headerh2:after {
  content: " ";
  top: 50%;
  height: 2px;
  width: 45px;
  margin: 6px 10px;
  display: inline-block;
  zoom: 1;
  background: #333;
}

h2 {
  display: block;
  margin-left: 40%;
  margin-right: auto;
  width: 50%;
}

.mat-expansion-panel {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #1d1b1d;
  background-color: #f1f1f1;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description,
::ng-deep .mat-expansion-indicator::after {
  color: #1d1b1d !important;
}
