<div id="experience">

  <h2 id="headerh2">CAREER</h2>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TD Ameritrade
        </mat-panel-title>
        <mat-panel-description>
          Busines Technology Developer II
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p>
            I initiate new projects to meet business needs and requirements, while still
            collaborating with peers and senior developers for best practices, solutions, and
            implementation.
            <br>
            <br>
            Maintain existing projects and codebase, refactoring and implementiong
            additional solutions as business needs change.
          </p>
        </mat-grid-tile>
        <mat-grid-tile>2018-present</mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TD Ameritrade
        </mat-panel-title>
        <mat-panel-description>
          Busines Technology Developer I
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p>
            I assited on new and existing projects with basic needs as a developer-in-training.
            <br>
            <br>
            I was assigned projects with long orno timeframe for complision to allow sufficient learning
            opportunity and was able to research and learning as I delivered solutions.
          </p>
        </mat-grid-tile>
        <mat-grid-tile>2017-2018</mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TD Ameritrade
        </mat-panel-title>
        <mat-panel-description>
          Natural Language Analyst
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p>
            Managed trading-related content for TD Ameritarde's online Virtual Agent.
            <br>
            <br>
            Reviewed client
            input, analyzed patterns and behaviors, and implemted solutions to deliver superior
            client understanding and satisfaction.
          </p>
        </mat-grid-tile>
        <mat-grid-tile>2015-2017</mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TD Ameritrade
        </mat-panel-title>
        <mat-panel-description>
          Trade Desk Specialist
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p>
            I assited clients with all trade-releted needs for mutual funds, equities, options, futures,
            and forex products.
            <br>
            <br>
            Offered insight into trading techniques, strategies, and comrehensive
            trading analysis tools.
            <br>
            <br>
            Advised on how to use flagship trading software for risk-analysis and strategy
            implementation.
          </p>
        </mat-grid-tile>
        <mat-grid-tile>2009-2015</mat-grid-tile>
      </mat-grid-list>



    </mat-expansion-panel>
  </mat-accordion>

</div>
