<div id="skills">

  <h2 id="headerh2">SKILLS</h2>

  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <span><i class="fab fa-mdb fa-5x"></i></span>
      <mat-card-title>&nbsp;Material Design</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fab fa-angular fa-5x"></i></span>
      <mat-card-title>Angular</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fab fa-github-square fa-5x"></i></span>
      <mat-card-title>&nbsp;Github</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fab fa-bitbucket fa-5x"></i></span>
      <mat-card-title>&nbsp;BitBucket</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fas fa-database fa-5x"></i></span>
      <mat-card-title>&nbsp;SQL Server</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span> <i class="fab fa-microsoft fa-5x"></i></span>
      <mat-card-title>&nbsp;Microsft Suite</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span> <i class="fab fa-google fa-5x"></i></span>
      <mat-card-title>&nbsp;Google Services</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fab fa-bootstrap fa-5x"></i></span>
      <mat-card-title>&nbsp;Boostrap</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><i class="fab fa-js fa-5x"></i></span>
      <mat-card-title>&nbsp;JavaScript</mat-card-title>
    </mat-grid-tile>
  </mat-grid-list>

</div>
