<!-- header -->
<div class="mainPage">
  <div class="headerCard">
    <div class="fixedHeader">
      <div class="intro-text">
        <div class="intro-lead-in">Bringing your needs to life</div>
        <div class="intro-heading">Full Stack Development</div>

        <button mat-fab color="accent" routerLink="/main" matTooltip="Enter">
          <i class="fas fa-door-open"></i>
        </button>

      </div>
    </div>
    <img mat-card-image class="heroImg" src="../../assets/roaderland.jpg" alt="Ireland" />
  </div>
</div>
